{% extends "guest/base.html" %}

{% block mycss %}

{% endblock %}

{% block body %}
    <div style="min-height: 800px">
        <div class="container py-3">
            <h2 class="py-3">Individual lesson</h2>
            <table class="table table-bordered table-light table-hover">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">Date</th>
                        <th scope="col">Start time</th>
                        <th scope="col">End time</th>
                        <th scope="col">Instructor name</th>
                        <th scope="col">Instructor number</th>
                        <th scope="col">Pool</th>
                    </tr>
                </thead>
                <tbody>
                    {% for detail in detail_list %}
                        {% if detail[6] %}
                            <tr>
                                <td>{{ detail[0] }}</td>
                                <td>{{ detail[1] }}</td>
                                <td>{{ detail[2] }}</td>
                                <td>{{ detail[3] }}</td>
                                <td>{{ detail[4] }}</td>
                                <td>{{ detail[5] }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="container py-3">
            <h2 class="py-3">Public class</h2>
            <table class="table table-bordered table-light table-hover">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">Date</th>
                        <th scope="col">Start time</th>
                        <th scope="col">End time</th>
                        <th scope="col">Instructor name</th>
                        <th scope="col">Instructor number</th>
                        <th scope="col">Pool</th>
                    </tr>
                </thead>
                <tbody>
                    {% for detail in detail_list %}
                        {% if not detail[6] %}
                            <tr>
                                <td>{{ detail[0] }}</td>
                                <td>{{ detail[1] }}</td>
                                <td>{{ detail[2] }}</td>
                                <td>{{ detail[3] }}</td>
                                <td>{{ detail[4] }}</td>
                                <td>{{ detail[5] }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block myjs %}

{% endblock %}
