{% extends "guest/base.html" %}


{% block mytitle %}
    View aqua aerobic class timetable
{% endblock %}

{% block mycss %}

{% endblock %}

<!--Opening hours: 6:00 - 21:00 during weekdays, 8:00 - 18:00 during weekends-->
{% block body %}
    <div class="view_class">
        <H1>Timetable of Aqua Aerobic Classes ({{ date_list[0] }} - {{ date_list[-1] }})</H1>
        <br>
        <form action="{{ url_for('view_class') }}" method="post">
            <input type="hidden" id="start_date" name="start_date" value="{{ start_date }}">
            <input type="hidden" id="end_date" name="end_date" value="{{ end_date }}">
            <input type="submit" id="previous_week" name="previous_week" value="Previous Week"></input>
            <input type="submit" id="next_week" name="next_week" value="Next Week"></input>
        </form>
        <br>
        <table class="table table-bordered">
            <tr>
                <th class="table-dark">Time/Day</th>
                <th class="table-dark">Monday ({{ date_list[0] }})</th>
                <th class="table-dark">Tuesday ({{ date_list[1] }})</th>
                <th class="table-dark">Wednesday ({{ date_list[2] }})</th>
                <th class="table-dark">Thursday ({{ date_list[3] }})</th>
                <th class="table-dark">Friday ({{ date_list[4] }})</th>
                <th class="table-dark">Saturday ({{ date_list[5] }})</th>
                <th class="table-dark">Sunday ({{ date_list[6] }})</th>
            </tr>
            {% for row in row_list %}
                <tr>
                    {% for entry in row %}
                        {% if entry == row[0] %}
                            <td>{{ entry }}</td>
                        {% elif entry == [] %}
                            <td></td>
                        {% else %}
                            <td>
                                {% for item in entry %}
                                    {% for key in item %}
                                        <a href="/display_class/{{ key }}">{{ item[key] }}</a><br>
                                    {% endfor %}
                                {% endfor %}
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block myjs %}

{% endblock %}