{% extends "timetable_base.html" %}

{% block timetable_css %}

{% endblock %}

{% block timetable_body1 %}
    <div class="container mt-3">
        <h1>Aqua Aerobic Timetable Template</h1>
        <label for="pool"></label>
        <select name="pool" id="pool">
            <option value="">Pools</option>
        </select>
        <label for="class_type"></label>
        <select name="class_type" id="class_type">
            <option value="">Class type</option>
        </select>
    </div>
{% endblock %}

{% block timetable_body %}

{% endblock %}

{% block myOwnModal %}
    <h2>qwe</h2>
{% endblock %}

{% block myOwnModal2 %}
    <h2>qwe</h2>
{% endblock %}
