{% extends "timetable_base.html" %}

{% block timetable_css %}

{% endblock %}

{% block timetable_body1 %}
    <div class="container mt-3">
        <h1>My Schedule</h1>
    </div>
{% endblock %}

{% block add_title %}
    <p>Book</p>
{% endblock %}

{% block myOwnModalLabel %}
    <p>add class</p>
{% endblock %}

{% block myOwnModalLabel2 %}
    <form action="/class_details" method="post">
        <input type="hidden" id="class_id" name="class_id">
        <input type="hidden" id="instructor_id" name="instructor_id">
        <button type="submit" class="btn btn-primary my-1">View all about this class detail</button>
    </form>
{% endblock %}

{% block timetable_js %}

{% endblock %}