{% extends "timetable_base.html" %}

{% block timetable_css %}

{% endblock %}

{% block timetable_body1 %}
    <div class="container mt-3">
        <h1>Aqua Aerobic Timetable Template</h1>
        <label for="pool_type"></label>
        <select name="pool_type" id="pool_type">
            <option value="" disabled selected>-- select a pool --</option>
            {% for pool in pool_list %}
                <option value="{{ pool[0] }}">{{ pool[1] }}</option>
            {% endfor %}
        </select>
        <label for="class_type"></label>
        <select name="class_type" id="class_type">
            <option value="" disabled selected>-- select a class type --</option>
            <option value="0">Aqua Aerobic Classes</option>
            <option value="1">Individual Swimming Lesson</option>
        </select>
    </div>
{% endblock %}

{% block timetable_body %}

{% endblock %}

{% block myOwnModal %}
    <h2>qwe</h2>
{% endblock %}

{% block myOwnModal2 %}
    <h2>asd</h2>
{% endblock %}
