{% extends "guest/base.html" %}


{% block title %}
    Attendance Report
{% endblock %}

{% block mycss %}

{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="container mt-3">
                <h2 style="text-align: center">Attendance Report of last 30 days</h2>
            </div>
            <div class="container mt-3">
                <canvas style="text-align: center" id="attendance_chart"></canvas>
            </div>
            <br>
        </div>
        <div class="container mt-3">
            <h3 style="text-align: center">Total attendance: {{ total }} visits</h3>
        </div>
        <br>
    </div>
{% endblock %}

{% block myjs %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx1 = document.getElementById('attendance_chart');
        const name_list = ["Aqua aerobics class", "Individual swimming lesson", "Just using the pool"];
        const total_list = JSON.parse('{{ total_list|tojson }}');

        let myChart1 = new Chart(ctx1, {
            type: 'pie',
            data: {
                labels: name_list,
                datasets: [{
                    label: 'no. of visits',
                    data: total_list,
                    borderWidth: 0
                }]
            }
        });

        function handleResize() {
            myChart1.destroy();
            myChart1 = new Chart(ctx1, {
                type: 'pie',
                data: {
                    labels: name_list,
                    datasets: [{
                        label: 'no. of visits',
                        data: total_list,
                        borderWidth: 0
                    }]
                }
            });
        }

        window.addEventListener('resize', handleResize);
    </script>
{% endblock %}