{% extends "guest/base.html" %}


{% block mytitle %}
    Admin dashboard
{% endblock %}

{% block mycss %}
    <style>
        .table {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
        h1 {
            text-align: center;
        }
        .filter {
            margin-left: 5%;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-3">
                <div class="card text-white bg-primary">
                    <div class="card-body">
                        <h5 class="card-title">Instructors</h5>
                        <p class="card-text">
                            {% for instructor in instructor_count %}
                                {% for count in instructor %}
                                    {{ count }}
                                {% endfor %}
                            {% endfor %}
                            <a role="button" id="yellow" class="btn btn-danger btn-sm" style="float: right;" href="/instructor_list">Edit</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-white bg-success">
                    <div class="card-body">
                        <h5 class="card-title">Members</h5>
                        <p class="card-text">
                            {% for member in member_count %}
                                {% for count in member %}
                                    {{ count }}
                                {% endfor %}
                            {% endfor %}
                            <a role="button" id="yellow" class="btn btn-danger btn-sm" style="float: right;" href="/member_list">Edit</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-white bg-warning">
                    <div class="card-body">
                        <h5 class="card-title">Pools</h5>
                        <p class="card-text">
                            {% for pool in pool_count %}
                                {% for count in pool %}
                                    {{ count }}
                                {% endfor %}
                            {% endfor %}
                            {#                            <a role="button" id="yellow" class="btn btn-danger btn-sm" style="float: right;" href="#">Edit</a>#}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-white bg-info">
                    <div class="card-body">
                        <h5 class="card-title">Classes</h5>
                        <p class="card-text">
                            {% for class in class_count %}
                                {% for count in class %}
                                    {{ count }}
                                {% endfor %}
                            {% endfor %}
                            {#                            <a role="button" id="yellow" class="btn btn-danger btn-sm" style="float: right;" href="#">Edit</a>#}
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="card m-5" id="feed">
            <div class="border border-left border-right px-0">
                <div class="p-3 border-bottom">
                    <h4 class="d-flex align-items-center mb-0">
                        News and Updates <i class="far fa-xs ms-auto text-primary"></i>
                    </h4>
                </div>
                <div>
                    <div class="card shadow-0">
                        <div class="card-body border-bottom pb-2">
                            <div class="d-flex">
                                <img src="{{ url_for('static', filename='images/wsc.png') }}" class="rounded-circle"
                                     height="50" alt="Avatar" loading="lazy"/>
                                <div class="d-flex align-items-center w-100 ps-3">
                                    <div class="w-100">
                                        <form action="{{ url_for('add_news') }}" method="post">
                                            <input type="text" class="form-control form-status border-0 py-1 px-0" name="news"
                                                   placeholder="What's happening"/>
                                            <div class="d-flex flex-row ps-3 pt-3">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                                <span class="message"><b>{{ msg }}</b></span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% for message in posted_news %}
                        <div class="d-flex p-3 border-bottom">
                            <img src="{{ url_for('static', filename='images/wsc.png') }}" class="rounded-circle"
                                 height="50" alt="Avatar" loading="lazy"/>
                            <div class="d-flex w-100 ps-3">
                                <div>
                                    <h6 class="text-body">{{ message[2] }}
                                        <a role="button" id="delete" class="fas fa-trash-alt" href="{{ url_for('delete_news', news_id = message[0]) }}"
                                           onclick="return confirm('Are you sure you want to delete this post?')"></a>
                                    </h6>
                                    <p>{{ message[1] }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="px-3">
            <h1 class="display-4"> Attendance</h1>
            <select name="dropdowns_election" id="activityFilter" class="filter" onchange="filterTable(this.value)">
                <option value="0">All</option>
                {% for i in class_list %}
                    <option value="{{ i[1] }}">{{ i[1] }}</option>
                {% endfor %}
            </select>
            <table class="table">
                <thead class="table-info">
                <tr>
                    <th>Name</th>
                    <th>Activity</th>
                    <th>Check-In Date</th>
                </tr>
                </thead>
                <tbody id="myTable">
                {% for people in attendance %}
                    <tr>
                        <td>
                            <div>
                                <p class="fw-bold mb-1">{{ people[2] }}</p>
                            </div>
                        </td>
                        <td>
                            {% if people[3] == 'Individual Lesson' %}
                                <span class="badge bg-primary">{{ people[3] }}</span>
                            {% else %}
                                <span class="badge bg-warning">{{ people[3] }}</span>
                            {% endif %}
                        </td>
                        <td>
                            <p class="fw-normal mb-1">{{ people[1] }}</p>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="p-3">
            <h1 class="display-4">Visit Count</h1>
            <select name="dropdowns_election" id="activityFilter2" class="filter" onchange="filterTable2(this.value)">
                <option value="0">All</option>
                {% for count in visit %}
                    <option value="{{ count[1] }}">{{ count[1] }}</option>
                {% endfor %}
            </select>
            <table class="table">
                <thead class="table-info">
                <tr>
                    <th>Name</th>
                    <th>Month</th>
                    <th>Monthly Visit</th>
                    <th>Week</th>
                    <th>Weekly Visit</th>
                </tr>
                </thead>
                <tbody id="myTable2">
                {% for count in visit %}
                    <tr>
                        <td>
                            <div><p class="fw-bold mb-1">{{ count[1] }}</p></div>
                        </td>
                        <td>
                            <div><p class="fw-bold mb-1">{{ count[2] }}</p></div>
                        </td>
                        <td>
                            <div><p class="fw-normal mb-1">{{ count[3] }}</p></div>
                        </td>
                        <td>
                            <div><p class="fw-bold mb-1">{{ count[4] }}</p></div>
                        </td>
                        <td>
                            <div><p class="fw-bold mb-1">{{ count[5] }}</p></div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block myjs %}
    <script>
        function filterTable(Activity) {
            const table = document.getElementById("myTable");
            const rows = table.getElementsByTagName("tr");
            for (let i = 0; i < rows.length; i++) {
                const row = rows[i];
                const cell = row.getElementsByTagName("td")[1];
                const spans = cell.getElementsByTagName("span");
                for (let j = 0; j < spans.length; j++) {
                    const span = spans[j];
                    const text = span.textContent || span.innerText;
                    if (Activity === "0") {
                        row.removeAttribute('style');
                    } else {
                        if (text === Activity) {
                            row.removeAttribute('style');
                        } else {
                            row.style.display = "none";
                        }
                    }
                }
            }
        }

        function filterTable2(Name) {
            const table = document.getElementById("myTable2");
            const rows = table.getElementsByTagName("tr");
            for (let i = 0; i < rows.length; i++) {
                const row = rows[i];
                const cell = row.getElementsByTagName("td")[0];
                const p = cell.getElementsByTagName("p");
                for (let j = 0; j < p.length; j++) {
                    const paragraph = p[j];
                    const text = paragraph.textContent || paragraph.innerText;
                    if (Name === "0") {
                        row.removeAttribute('style');
                    } else {
                        if (text === Name) {
                            row.removeAttribute('style');
                        } else {
                            row.style.display = "none";
                        }
                    }
                }
            }
        }
    </script>
{% endblock %}