{% extends "guest/layout.html" %}


{% block title %}
    User list
{% endblock %}

{% block mycss %}

{% endblock %}

{% block body %}
    <div class="container" style="max-width: 1200px">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab"
                        aria-controls="home-tab-pane" aria-selected="true">Member
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab"
                        aria-controls="profile-tab-pane" aria-selected="false">Instructor
                </button>
            </li>
        </ul>
        <div class="tab-content pt-3" id="myTabContent">
            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                <table class="table table-bordered table-light">
                    <tr class="table-dark">
                        <th>Full NAME</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Edit</th>
                    </tr>
                    {% for i in range(member_list|length) %}
                        <tr>
                            <td>{{ member_list[i][4] }} {{ member_list[i][1] }} {{ member_list[i][2] }}</td>
                            <td>{{ member_list[i][5] }}</td>
                            <td>{{ member_list[i][6] }}</td>
                            <td>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myOwnModal" onclick="showLink({{ i }})">EDIT</button>
                                <button type="button" class="btn btn-danger" onclick="confirmDelete(1, {{ member_list[i][0] }})">DELETE</button>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                <table class="table table-bordered table-light">
                    <tr class="table-dark">
                        <th>Full NAME</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Edit</th>
                    </tr>
                    {% for i in range(instructor_list|length) %}
                        <tr>
                            <td>{{ instructor_list[i][4] }} {{ instructor_list[i][1] }} {{ instructor_list[i][2] }}</td>
                            <td>{{ instructor_list[i][5] }}</td>
                            <td>{{ instructor_list[i][6] }}</td>
                            <td>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myOwnModal2" onclick="showLink2({{ i }})">EDIT</button>
                                <button type="button" class="btn btn-danger" onclick="confirmDelete(0, {{ instructor_list[i][0] }})">DELETE</button>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myOwnModal" tabindex="-1" aria-labelledby="myOwnModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myOwnModalLabel">member</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="pt-3 pb-3">
                        <div class="container w-75">
                            <form action="/member_change_information" class="row" method="post" onsubmit="return validateForm()">
                                <div class="col-md-6">
                                    <div class="input-group mb-3">
                                        <label for="member_first_name" class="input-group-text">First name :</label>
                                        <input type="text" class="form-control" name="first_name" id="member_first_name" required>
                                    </div>
                                    <p id="member_first_name_msg" style="color: red"></p>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group mb-3">
                                        <label for="member_last_name" class="input-group-text">Last name :</label>
                                        <input type="text" class="form-control" name="last_name" id="member_last_name" required>
                                    </div>
                                    <p id="member_last_name_msg" style="color: red"></p>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group mb-3">
                                        <label for="member_birth_date" class="input-group-text">Birth date :</label>
                                        <input type="date" class="form-control" name="birth_date" id="member_birth_date" max="{{ today }}" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group mb-3">
                                        <label for="member_title" class="input-group-text">Title :</label>
                                        <select name="title" class="form-select" id="member_title" required>
                                            <option value="" disabled>---Choose a title---</option>
                                            {% for i in title_list %}
                                                <option value={{ i[0] }}>{{ i[1] }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="input-group mb-3">
                                        <label for="member_email" class="input-group-text">Email :</label>
                                        <input type="email" class="form-control" name="email" id="member_email" required>
                                    </div>
                                    <p id="member_email_msg" style="color: red"></p>
                                </div>
                                <div class="col-md-12">
                                    <div class="input-group mb-3">
                                        <label for="member_phone_number" class="input-group-text">Phone number :</label>
                                        <input type="tel" class="form-control" name="phone_number" id="member_phone_number" required>
                                    </div>
                                    <p id="member_phone_number_msg" style="color: red"></p>
                                </div>
                                <div class="input-group mb-3">
                                    <label for="member_detailed_information" class="input-group-text">Detailed information :</label>
                                    <textarea id="member_detailed_information" class="form-control" name="detailed_information" rows="3" cols="33"></textarea>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group mb-3">
                                        <label for="member_city" class="input-group-text">City :</label>
                                        <select name="city" class="form-select" id="member_city" onchange="update_city()" required>
                                            <option value="" disabled>---Choose a city---</option>
                                            {% for i in city_list %}
                                                <option value={{ i[0] }}>{{ i[1] }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group mb-3">
                                        <label for="member_region" class="input-group-text">Region :</label>
                                        <select name="region" class="form-select" id="member_region" required>
                                            <option value="" disabled>---Choose a region---</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="input-group mb-3">
                                        <label for="member_street_name" class="input-group-text">Street name :</label>
                                        <input type="text" class="form-control" name="street_name" id="member_street_name" required>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <label for="member_health_information" class="input-group-text">Health information :</label>
                                    <textarea id="member_health_information" class="form-control" name="health_information" rows="4" cols="33"></textarea>
                                </div>
                                <input type="hidden" id="member_user_id" name="user_id">
                                <button type="submit" class="btn btn-primary my-1">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myOwnModal2" tabindex="-1" aria-labelledby="myOwnModalLabel2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myOwnModalLabel2">instructor</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="pt-3 pb-3">
                        <div class="container w-75">
                            <form action="/instructor_change_information" class="row" method="post" onsubmit="return validateForm2()">
                                <div class="col-md-6">
                                    <div class="input-group my-2">
                                        <label for="instructor_first_name" class="input-group-text">First name :</label>
                                        <input type="text" class="form-control" name="first_name" id="instructor_first_name" required>
                                    </div>
                                    <p id="instructor_first_name_msg" style="color: red"></p>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group my-2">
                                        <label for="instructor_last_name" class="input-group-text">Last name :</label>
                                        <input type="text" class="form-control" name="last_name" id="instructor_last_name" required>
                                    </div>
                                    <p id="instructor_last_name_msg" style="color: red"></p>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group my-2">
                                        <label for="instructor_email" class="input-group-text">Email :</label>
                                        <input type="email" class="form-control" name="email" id="instructor_email" required>
                                    </div>
                                    <p id="instructor_email_msg" style="color: red"></p>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group my-2">
                                        <label for="instructor_title" class="input-group-text">Title :</label>
                                        <select name="title" class="form-select" id="instructor_title" required>
                                            <option value="" disabled>---Choose a title---</option>
                                            {% for i in title_list %}
                                                <option value={{ i[0] }}>{{ i[1] }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="input-group my-2">
                                        <label for="instructor_phone_number" class="input-group-text">Phone number :</label>
                                        <input type="tel" class="form-control" name="phone_number" id="instructor_phone_number" required>
                                    </div>
                                    <p id="instructor_phone_number_msg" style="color: red"></p>
                                </div>
                                <div class="input-group my-2">
                                    <label for="instructor_detailed_information" class="input-group-text">Detailed information :</label>
                                    <textarea id="instructor_detailed_information" class="form-control" name="detailed_information" rows="3" cols="33"></textarea>
                                </div>
                                <input type="hidden" id="instructor_user_id" name="user_id">
                                <button type="submit" class="btn btn-primary my-1">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block myjs %}
    <script>
        const modal = document.getElementById('myOwnModal');
        modal.addEventListener('shown.bs.modal', function () {
        });
        const modal2 = document.getElementById('myOwnModal2');
        modal2.addEventListener('shown.bs.modal', function () {
        });
        const city = document.getElementById('member_city');
        const region = document.getElementById('member_region');
        const region_list = JSON.parse('{{ region_list|tojson }}');
        function update_city() {
            region.innerHTML = '<option value="" disabled>---Choose a region---</option>';
            for (const i in region_list) {
                if (String(region_list[i][1]) === city.value) {
                    const option = document.createElement('option');
                    option.value = region_list[i][0];
                    option.text = region_list[i][2];
                    region.appendChild(option);
                }
            }
        }
        const member_list = JSON.parse('{{ member_list|tojson }}');
        const instructor_list = JSON.parse('{{ instructor_list|tojson }}');
        function showLink(id){
            document.getElementById('member_first_name').value = member_list[id][1];
            document.getElementById('member_last_name').value = member_list[id][2];
            document.getElementById('member_birth_date').value = member_list[id][12];
            document.getElementById('member_title').value = member_list[id][7];
            document.getElementById('member_email').value = member_list[id][6];
            document.getElementById('member_phone_number').value = member_list[id][3];
            document.getElementById('member_detailed_information').value = member_list[id][8];
            document.getElementById('member_city').value = member_list[id][9];
            update_city();
            document.getElementById('member_region').value = member_list[id][10];
            document.getElementById('member_street_name').value = member_list[id][11];
            document.getElementById('member_health_information').value = member_list[id][13];
            document.getElementById('member_user_id').value = member_list[id][0];
            validateForm();
        }
        function showLink2(id){
            document.getElementById('instructor_first_name').value = instructor_list[id][1];
            document.getElementById('instructor_last_name').value = instructor_list[id][2];
            document.getElementById('instructor_email').value = instructor_list[id][6];
            document.getElementById('instructor_phone_number').value = instructor_list[id][3];
            document.getElementById('instructor_title').value = instructor_list[id][7];
            document.getElementById('instructor_detailed_information').value = instructor_list[id][8];
            document.getElementById('instructor_user_id').value = instructor_list[id][0];
            validateForm2();
        }
        function validateForm() {
            const first_name = document.getElementById('member_first_name');
            const first_name_msg = document.getElementById('member_first_name_msg');
            const namePattern = /^[a-zA-Z]+$/;
            const phonePattern = /^\d{7,11}$/;
            const emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
            let i = 0;
            if (!namePattern.test(first_name.value)) {
                first_name_msg.innerText = "First name should contain only letters.";
                first_name.classList.add("is-invalid");
                i = 1;
            } else {
                first_name.classList.remove("is-invalid");
                first_name_msg.innerText = "";
            }
            const last_name = document.getElementById('member_last_name');
            const last_name_msg = document.getElementById('member_last_name_msg');
            if (!namePattern.test(last_name.value)) {
                last_name_msg.innerText = "Last name should contain only letters.";
                last_name.classList.add("is-invalid");
                i = 1;
            } else {
                last_name.classList.remove("is-invalid");
                last_name_msg.innerText = "";
            }
            const phone_number = document.getElementById('member_phone_number');
            const phone_number_msg = document.getElementById('member_phone_number_msg');
            if (!phonePattern.test(phone_number.value)) {
                phone_number.classList.add("is-invalid");
                phone_number_msg.innerText = "Wrong phone number length.";
                i = 1;
            } else {
                phone_number.classList.remove("is-invalid");
                phone_number_msg.innerText = "";
            }
            const email = document.getElementById('member_email');
            const email_msg = document.getElementById('member_email_msg');
            if (!emailPattern.test(email.value)) {
                email.classList.add("is-invalid");
                email_msg.innerText = "Invalid email address.";
                i = 1;
            } else {
                email.classList.remove("is-invalid");
                email_msg.innerText = "";
            }
            return i !== 1;
        }
        function validateForm2() {
            const namePattern = /^[a-zA-Z]+$/;
            const phonePattern = /^\d{7,11}$/;
            const emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
            let i = 0;
            const first_name = document.getElementById('instructor_first_name');
            const first_name_msg = document.getElementById('instructor_first_name_msg');
            if (!namePattern.test(first_name.value)) {
                first_name_msg.innerText = "First name should contain only letters.";
                first_name.classList.add("is-invalid");
                i = 1;
            } else {
                first_name.classList.remove("is-invalid");
                first_name_msg.innerText = "";
            }
            const last_name = document.getElementById('instructor_last_name');
            const last_name_msg = document.getElementById('instructor_last_name_msg');
            if (!namePattern.test(last_name.value)) {
                last_name_msg.innerText = "Last name should contain only letters.";
                last_name.classList.add("is-invalid");
                i = 1;
            } else {
                last_name.classList.remove("is-invalid");
                last_name_msg.innerText = "";
            }
            const phone_number = document.getElementById('instructor_phone_number');
            const phone_number_msg = document.getElementById('instructor_phone_number_msg');
            if (!phonePattern.test(phone_number.value)) {
                phone_number.classList.add("is-invalid");
                phone_number_msg.innerText = "Wrong phone number length.";
                i = 1;
            } else {
                phone_number.classList.remove("is-invalid");
                phone_number_msg.innerText = "";
            }
            const email = document.getElementById('instructor_email');
            const email_msg = document.getElementById('instructor_email_msg');
            if (!emailPattern.test(email.value)) {
                email.classList.add("is-invalid");
                email_msg.innerText = "Invalid email address.";
                i = 1;
            } else {
                email.classList.remove("is-invalid");
                email_msg.innerText = "";
            }
            return i !== 1;
        }
        function confirmDelete(is_member, user_id) {
            const result = confirm("You sure you want to delete it?");
            if (result) {
                window.location.href = "/delete_user?is_member=" + is_member + "&user_id=" + user_id;
            }
        }
    </script>
{% endblock %}