{% extends "base.html" %}


{% block mytitle %}
    Self Information
{% endblock %}

{% block mycss %}

{% endblock %}

{% block body %}
    <h5>{{ msg }}</h5>
    <form action="/selfInformation" method="post" onsubmit="return validateForm()">
        <label for="title">Title :</label>
        <select name="title" id="title" required>
            <option value="">-----Choose a title-----</option>
            <option value="1">Mr.</option>
            {% for i in title_list %}
            {% endfor %}
        </select>

        <label for="first_name">First name :</label>
        <input type="text" name="first_name" id="first_name" value="{{ member_detail[2] }}" required>

        <label for="last_name">Last name :</label>
        <input type="text" name="last_name" id="last_name" value="{{ member_detail[3] }}" required>

        <label for="email">Email :</label>
        <input type="email" name="email" id="email" value="{{ member_detail[11] }}" required>

        <label for="phone_number">Phone number :</label>
        <input type="tel" name="phone_number" id="phone_number" value="{{ member_detail[4] }}" required>

        <label for="city">City :</label>
        <select name="city" id="city" required>
            <option value="">-----Choose a city-----</option>
            <option value="1">Northland</option>
            {% for i in city_list %}
            {% endfor %}
        </select>

        <label for="region">Region :</label>
        <select name="region" id="region" required>
            <option value="">-----Choose a region-----</option>
            <option value="1">Dargaville</option>
            {% for i in region_list %}
            {% endfor %}
        </select>

        <label for="street_name">Street name :</label>
        <input type="text" name="street_name" id="street_name" value="{{ member_detail[8] }}" required>

        <label for="birth_date">Birth date :</label>
        <input type="date" name="birth_date" id="birth_date" value="{{ member_detail[9] }}" required>

        <label for="health_information">Health information :</label>
        <input type="text" name="health_information" id="health_information" value="{{ member_detail[10] }}" required>

        <input type="hidden" id="user_id" name="user_id" value="{{ member_detail[0] }}">
        <button type="submit">Submit</button>
    </form>
    {{ member_detail }}
{% endblock %}

{% block myjs %}
    <script>
        const title = document.getElementById('title');
        title.value = {{ member_detail[1] }}
        const city = document.getElementById('city');
        city.value = {{ member_detail[6] }}
        const region = document.getElementById('region');
        region.value = {{ member_detail[7] }}
        const first_name = document.getElementById('first_name');
        const last_name = document.getElementById('last_name');
        const phone_number = document.getElementById('phone_number');
        function validateForm(){
            const namePattern = /^[a-zA-Z]+$/;
            const phonePattern = /^\d{7,11}$/;

            if (!namePattern.test(first_name.value)) {
                alert("First name should contain only letters.");
                return false;
            }
            if (!namePattern.test(last_name.value)) {
                alert("Last name should contain only letters.");
                return false;
            }
            if (!phonePattern.test(phone_number.value)) {
                alert("Wrong phone number length.");
                return false;
            }
            return true;
        }
    </script>
{% endblock %}