{% extends "base.html" %}


{% block mytitle %}
    View aqua aerobic class timetable
{% endblock %}

{% block mycss %}

{% endblock %}

<!--Opening hours: 6:00 - 21:00 during weekdays, 8:00 - 18:00 during weekends-->
{% block body %}
<div class="view_class">
    <H1>Timetable of Aqua Aerobic Classes</H1>
    <br></br>
    <table class="table table-bordered">
        <tr>
            <th class="table-dark">Time/Days</th>
            <th class="table-dark">Monday</th>
            <th class="table-dark">Tuesday</th>
            <th class="table-dark">Wednesday</th>
            <th class="table-dark">Thursday</th>
            <th class="table-dark">Friday</th>
            <th class="table-dark">Saturday</th>
            <th class="table-dark">Sunday</th>
        </tr>
        {% for row in row_list %}
            <tr>
            {% for entry in row %}
                {% if entry == '' %}
                    <td>{{ entry }}</td>
                {% elif entry == row[0] %}
                    <td>{{ entry }}</td>
                {% else %}
                    {% for key in entry%}
                        <td><a href="/display_class/{{key}}">{{ entry[key] }}</a></td>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div> 
{% endblock %}

{% block myjs %}

{% endblock %}