{% extends "guest/base.html" %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container" style="min-height: 800px;">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card shadow-lg p-3 mb-5 rounded">
                    <div class="text-center py-4">
                        <h4 style="color: #06283D;"><i class="fas fa-sign-in-alt"></i> Login</h4>
                    </div>
                    <div class="card-body">
                        <form action="{{ url_for('login') }}" method="post" onsubmit="return validateForm()">
                            <div class="mb-3">
                                <label for="username" class="form-label" style="color: #06283D;"><i class="fas fa-user"></i> Username</label>
                                <input type="text" name="username" class="form-control" id="username" placeholder="Enter your username" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label" style="color: #06283D;"><i class="fas fa-lock"></i> Password</label>
                                <input type="password" name="password" class="form-control" id="password" placeholder="Enter your password" required>
                            </div>
                            <span id="msg" style="color: red">{{ msg }}</span>
                            <div class="my-3">
                                <button type="submit" class="btn btn-primary w-100">Login</button>
                            </div>
                            <div class="text-center">
                                <a href="{{ url_for('register') }}" class="btn btn-primary w-100">Go Register</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block myjs %}
    <script>
        function validateForm() {
            const password = document.getElementById("password").value;

            if (password.length < 8) {
                document.getElementById("msg").innerText = 'Password length is incorrect.';
                return false;
            }
            document.getElementById("msg").innerText = '';
            return true;
        }
    </script>
{% endblock %}