{% extends "guest/base.html" %}

{% block title %}Change Password{% endblock %}

{% block body %}
    <div class="container py-5" style="min-height: 800px;">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title text-center">Change Password</h4><br><br>
                        <form action="{{ url_for('change_password') }}" method="post" onsubmit="return validateForm()">
                            <div class="input-group mb-3">
                                <label for="password" class="input-group-text">
                                    <i class="fas fa-lock"></i>New Password <span style="color:red">*</span>
                                </label>
                                <input type="password" class="form-control" name="newpw" id="newpw" placeholder="Password"
                                       value="{{ request.form['password'] }}" required>
                            </div>
                            <p id="newpw_msg" style="color: red"></p>
                            <div class="input-group mb-3">
                                <label for="password" class="input-group-text">
                                    <i class="fa fa-lock red-color"></i>Confirm Password <span style="color:red">*</span>
                                </label>
                                <input type="password" class="form-control" name="confirmpw" id="confirmpw" placeholder="Password"
                                       value="{{ request.form['password'] }}" required>
                            </div>
                            <p id="confirmpw_msg" style="color: red"></p>
                            <div class="msg">{{ msg }}</div>
                            <div class="d-grid gap-2">
                                <input type="submit" class="btn btn-primary" value="Submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block myjs %}
    <script>
        const new_password = document.getElementById('newpw');
        const confirm_password = document.getElementById('confirmpw');
        const newpw_msg = document.getElementById('newpw_msg');
        const confirmpw_msg = document.getElementById('confirmpw_msg');

        function validateForm() {
            let i = 0;
            if (new_password.value.length < 8) {
                new_password.classList.add("is-invalid");
                newpw_msg.innerText = "Password is not strong enough.";
                i = 1;
            } else {
                new_password.classList.remove("is-invalid");
                newpw_msg.innerText = "";
            }
            if (confirm_password.value.length < 8) {
                confirm_password.classList.add("is-invalid");
                confirmpw_msg.innerText = "Password is not strong enough.";
                i = 1;
            } else {
                confirm_password.classList.remove("is-invalid");
                confirmpw_msg.innerText = "";
            }
            return i !== 1;
        }

    </script>
{% endblock %}