{% extends "guest/layout.html" %}

{% block mycss %}
    <style>
        #navigation-container {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #info {
            margin: 0 20px;
        }
    </style>
    {% block timetable_css %}{% endblock %}
{% endblock %}

{% block body %}
    {% block timetable_body1 %}{% endblock %}
    <div class="container mt-3">
        <div class="row" style="min-width: 960px">
            <form action="{{ url_for('display_timetable') }}" method="post" id="this_week">
                <input type="hidden" id="day" name="day">
                <div id="navigation-container">
                    <button type="button" class="mx-5 px-2" onclick="previous_week()">&larr;</button>
                    <p id="info" class="px-5">2023</p>
                    <button type="button" class="mx-5 px-2" onclick="next_week()">&rarr;</button>
                </div>
            </form>
            {% for i in range(8) %}
                <div class="col" style="padding: 0;">
                    <div class="col border text-center" style="background-color: #212529; color: white; height: 50px;">{{ week_list[i][0] }}<br>{{ week_list[i][1] }}</div>
                    {% for j in range(10,19,1) %}
                        {% if i == 0 %}
                            <div class="border text-center" style="height: 100px;">{{ j }}:00</div>
                        {% else %}
                            {% set vars = {'foo': True} %}
                            {% set show_list = [] %}
                            {% for class in class_list %}
                                {% if class[2] == week_list[i][0] and class[3] == j %}
                                    {{ show_list.append({class[0]:class[1]}) or "" }}
                                    {% if vars.update({'foo': False}) %}
                                        <p>{{ class }}</p>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if vars.foo %}
                                <div class="border text-center" style="height: 50px;min-width: 120px" data-bs-toggle="modal" data-bs-target="#myOwnModal"></div>
                                <div class="border text-center" style="height: 50px;min-width: 120px" data-bs-toggle="modal" data-bs-target="#myOwnModal"></div>
                            {% else %}
                                <div class="border text-center" style="height: 100px;min-width: 120px" data-bs-toggle="modal" data-bs-target="#myOwnModal2">
                                    {% for show in show_list %}
                                        {% for key in show %}
                                            <p>{{ show[key] }}</p>
{#                                            <a href="/display_class/{{ key }}">{{ show[key] }}</a><br>#}
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>

    {% block timetable_body2 %}{% endblock %}

    <div class="modal fade" id="myOwnModal" tabindex="-1" aria-labelledby="myOwnModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myOwnModalLabel">Add class</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="pt-3 pb-3">
                        <div class="container w-75">
                            <p>Add class</p>
                            {% block myOwnModal %}{% endblock %}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myOwnModal2" tabindex="-1" aria-labelledby="myOwnModalLabel2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myOwnModalLabel2">Class Detail</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="pt-3 pb-3">
                        <div class="container w-75">
                            <p>Class Detail</p>
                            {% block myOwnModal2 %}{% endblock %}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block myjs %}
    <script>
        const currentDate = new Date("{{ today }}");
        document.getElementById('info').innerHTML = currentDate.toDateString();
        function previous_week(){
            currentDate.setDate(currentDate.getDate() - 7);
            document.getElementById('day').value = currentDate.toISOString().slice(0, 10)
            document.getElementById("this_week").submit();
        }
        function next_week(){
            currentDate.setDate(currentDate.getDate() + 7);
            document.getElementById('day').value = currentDate.toISOString().slice(0, 10)
            document.getElementById("this_week").submit();
        }
    </script>
{% endblock %}