{% extends "guest/layout.html" %}

{% block mycss %}
    <style>
        #navigation-container {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #info {
            margin: 0 20px;
        }
        .little_box:hover {
            background-color: #dbe3e8;
        }
        th {
            height: 50px;
            width: 120px;
        }
    </style>
    {% block timetable_css %}{% endblock %}
{% endblock %}

{% block body %}
    {% block timetable_body1 %}{% endblock %}
    <div class="container mt-3">
        <label for="pool_type"></label>
        <select name="pool_type" id="pool_type">
            <option value="" disabled selected>-- select a pool --</option>
            {% for pool in pool_list %}
                <option value="{{ pool[0] }}">{{ pool[1] }}</option>
            {% endfor %}
        </select>
        <label for="class_type"></label>
        <select name="class_type" id="class_type">
            <option value="" disabled selected>-- select a class type --</option>
            <option value="0">Public Lesson</option>
            <option value="1">Individual Lesson</option>
        </select>
        <label for="instructor"></label>
        <select name="instructor" id="instructor">
            <option value="" disabled selected>-- select a instructor --</option>
            <option value="1">person1</option>
        </select>
    </div>
    <div class="container mt-3">
        <div class="row" style="min-width: 960px">
            <form action="{{ url_for('display_timetable') }}" method="post" id="this_week">
                <input type="hidden" id="day" name="day">
                <div id="navigation-container">
                    <button type="button" class="mx-5 px-2" onclick="previous_week()">&larr;</button>
                    <p id="info" class="px-5">2023</p>
                    <button type="button" class="mx-5 px-2" onclick="next_week()">&rarr;</button>
                </div>
            </form>
            <table class="table table-bordered">
                <tr>
                    {% for i in range(0,8,1) %}
                        <th class="table-dark">{{ week_list[i][0] }}<br>{{ week_list[i][1] }}</th>
                    {% endfor %}
                </tr>
                {% for i in range(1,19,1) %}
                    <tr>
                        {% if i%2 == 1 %}
                            <th rowspan="2">{{ (i + 1)//2 + 9 }}:00</th>
                        {% endif %}
                        {% for j in range(1,8,1) %}
                            <th id="{{ j }}{{ i }}" class="little_box" data-bs-toggle="modal" data-bs-target="#myOwnModal" onclick="showLink({{ j }}, {{ i }})"></th>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% block timetable_body2 %}{% endblock %}

    <div class="modal fade" id="myOwnModal" tabindex="-1" aria-labelledby="myOwnModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myOwnModalLabel">Add class</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="pt-3 pb-3">
                        <div class="container w-75">
                            <p>Add class</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myOwnModal2" tabindex="-1" aria-labelledby="myOwnModalLabel2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myOwnModalLabel2">Class Detail</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="pt-3 pb-3">
                        <div class="container w-75">
                            <p>Class Detail</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block myjs %}
    <script>
        const currentDate = new Date("{{ today }}");
        document.getElementById('info').innerHTML = currentDate.toDateString();
        function previous_week() {
            currentDate.setDate(currentDate.getDate() - 7);
            document.getElementById('day').value = currentDate.toISOString().slice(0, 10)
            document.getElementById("this_week").submit();
        }
        function next_week() {
            currentDate.setDate(currentDate.getDate() + 7);
            document.getElementById('day').value = currentDate.toISOString().slice(0, 10)
            document.getElementById("this_week").submit();
        }

        class_list = JSON.parse('{{ all_details|tojson }}');
        for (const i in class_list) {


            {# add judgment #}


            let id = class_list[i]["x"] + class_list[i]["y"]
            const box = document.getElementById(id)
            const classElement = document.createElement("div");
            classElement.innerHTML = `<a href="javascript:void(0);">${class_list[i]["class_name"]}</a>`;
            classElement.setAttribute("data-bs-toggle", "modal");
            classElement.setAttribute("data-bs-target", "#myOwnModal2");
            classElement.setAttribute("onclick", "show_detail(" + i + ")");
            box.appendChild(classElement);
            if (class_list[i]["continuance"] > 1) {
                box.rowSpan = class_list[i]["continuance"]
                let id2 = class_list[i]["x"] + String(Number(class_list[i]["y"]) + 1)
                const box2 = document.getElementById(id2)
                box2.parentNode.removeChild(box2);
            }
        }

        function showLink(x, y) {
            console.log(x, y)
        }

        function show_detail(id) {
            event.stopPropagation();
            console.log(id)
        }
    </script>
    {% block timetable_js %}{% endblock %}
{% endblock %}